.home{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;


.wrapper{
    max-width: 1366px;
    height: 100%;
    margin: auto;
    padding-left: 35px;
}

.textContainer{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
 }

h4{
    font-size: 25px;
    color: rebeccapurple;
}
h2{
    font-size: 35px;
}

.buttons{
    button{
        padding: 15px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        margin: 15px;
        cursor: pointer;
    }

}

 .imageContainer{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 35px;
 }

   img{
    height: 300px;
    
   }
}